<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Vendedores</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="/assets/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
   <script src="/assets/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
  <link href="/assets/css/sidebar.css" rel="stylesheet" type="text/css"/>
  <link href="/assets/css/material-design-iconic-font.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
</head>
<body>
  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3><a href="/user"><img src="/assets/img/logof.png"/></a></h3>
            <strong><a href="/user"><img src="/assets/img/logot.png"/></a></strong>
        </div>

        <ul class="list-unstyled components">
            
            <li>
                <a href="/clientes">
                    <i class="fa fa-user"></i>
                    Clientes
                </a>
            </li>
            <li>
                <a href="/vendedores">
                    <i class="fa fa-briefcase"></i>
                    Vendedores
                </a>
            </li>
            <li>
                <a href="/asesores">
                    <i class="fa fa-handshake-o"></i>
                    Asesores
                </a>
            </li>
            <li>
                <a href="/confirmaciones">
                    <i class="fa fa-phone"></i>
                    Pendientes por Llamar
                </a>
            </li>
            <li>
                <a href="/asignaciones">
                    <i class="fa fa-star-o"></i>
                    Pendientes por Visitar
                </a>
            </li>
            <!--<li>
                <a href="#">
                    <i class="fa fa-briefcase"></i>
                    Pendientes por liquidar
                </a>
            </li>-->
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content">
      <nav class="mb-4 navbar navbar-expand-lg navbar-dark cyan">
			<a class="navbar-brand font-bold" href="#">Construtodo Santa Marta</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSuapportedContent-4">
				<ul class="navbar-nav ml-auto">
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Bienvenido, Administrador </a>
						<div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
							<a class="dropdown-item" href="/logout">Salir</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
  <div class="container">
    <h2>Lista de Vendedores</h2>
        <button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Añadir Nuevo</button>
    <table class="table table-responsive" id="mytable">
      <thead>
        <tr>
          <th>ID</th>  
          <th>Cédula</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Tipo</th>
          <th>Contraseña</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
         {{#each results}}
        <tr>
          <td>{{ idvendedor }}</td>  
          <td>{{ cedula }}</td>
          <td>{{ nombre }} {{ apellido }}</td>
          <td>{{ email }}</td>
          <td>{{ telefono }}</td>
          <td>{{ nombretipovendedor }}</td>
          <td>{{ contraseñavendedor }}</td>
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-idvendedor="{{ idvendedor }}"data-cedula="{{ cedula }}" data-nombre="{{ nombre }}" data-apellido="{{ apellido }}" data-email="{{ email }}"data-telefono="{{ telefono }}"data-contraseñavendedor="{{ contraseñavendedor }}"data-nombretipovendedor="{{ nombretipovendedor }}" data-tipoid="{{ tipoid }}">Editar</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
 
    <!-- Modal Add Product-->
      <form action="/vendedores/save" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Añadir Nuevo Vendedor</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <div class="form-group">
                   <input type="text" name="cedula" class="form-control" placeholder="Cedula" required>
               </div>
 
               <div class="form-group">
                   <input type="text" name="nombre" class="form-control" placeholder="Nombre" required>
               </div>
               <div class="form-group">
                   <input type="text" name="apellido" class="form-control" placeholder="Apellido" required>
               </div>
               <div class="form-group">
                   <input type="text" name="email" class="form-control" placeholder="Correo Electrónico" required>
               </div>
               <div class="form-group">
                   <input type="text" name="telefono" class="form-control" placeholder="Teléfono" required>
               </div>
               <div class="form-group">
                   <input type="text" name="contraseñavendedor" class="form-control" placeholder="Contraseña" required>
               </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
               <button type="submit" class="btn btn-primary">Guardar</button>
             </div>
           </div>
         </div>
        </div>
     </form>
 
     <!-- Modal Update Product-->
   <form action="/vendedores/update" method="post">
       <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar Vendedor</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                  <input type="text" name="nombre" class="form-control nombre" placeholder="Nombre" required>
              </div>
 
              <div class="form-group">
                  <input type="text" name="apellido" class="form-control apellido" placeholder="Apellido" required>
              </div>
              <div class="form-group">
                  <input type="text" name="email" class="form-control email" placeholder="Correo Electrónico" required>
              </div>
              <div class="form-group">
                  <input type="text" name="telefono" class="form-control telefono" placeholder="Teléfono" required>
              </div>
              <div class="form-group">
                  <input type="text" name="contraseñavendedor" class="form-control contraseñavendedor" placeholder="Contraseña" required>
              </div>
              <div class="form-group">
                  <select name="tipoid" class="form-control tipoid">
                      <option value="1">Nuevo</option>
                      <option value="2">Básico</option>
                      <option value="3">Avanzado</option>
                      <option value="4">Experto</option>
                  </select>
              </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="cedula" class="cedula">  
              <input type="hidden" name="idvendedor" class="idvendedor">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
          </div>
        </div>
       </div>
  </form>
 
     <!-- Modal Delete Product-->
      <form id="add-row-form" action="/delete" method="post">
         <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">Delete Product</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </div>
                   <div class="modal-body">
                                                 <strong>Are you sure to delete this data?</strong>
                   </div>
                   <div class="modal-footer">
                                            <input type="hidden" name="product_id" class="form-control product_id2" required>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Delete</button>
                   </div>
                    </div>
            </div>
         </div>
     </form>
    </div>
  </div>sss
<script src="/assets/js/jquery-3.4.1.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script>
    $(document).ready(function(){
            //showing data to edit modal      
        $('#mytable').on('click','.edit',function(){
        var cedula = $(this).data('cedula');
        var nombre = $(this).data('nombre');
        var apellido = $(this).data('apellido');
        var email = $(this).data('email');
        var telefono = $(this).data('telefono');
        var contraseñavendedor = $(this).data('contraseñavendedor');
        var tipoid = $(this).data('tipoid');
        var nombretipovendedor = $(this).data('nombretipovendedor');
        $('#EditModal').modal('show');
        $('.nombre').val(nombre);
        $('.apellido').val(apellido);
        $('.email').val(email);
        $('.telefono').val(telefono);
        $('.cedula').val(cedula);
        $('.contraseñavendedor').val(contraseñavendedor);
        $('.tipoid').val(tipoid);
        $('.nombretipovendedor').val(nombretipovendedor);
      });
            //showing delete record modal
            //$('#mytable').on('click','.delete',function(){
        //var product_id = $(this).data('id');
        //$('#DeleteModal').modal('show');
        //$('.product_id2').val(product_id);
      //});
 
    });
</script>
</body>
</html>